# Copiar a terraform.tfvars (no subir a Git)

aws_region   = "us-east-1"
project_name = "innovatech"

# etapa_3 — EKS
cluster_name       = "innovatech-cluster"
node_instance_type = "t3.medium"
node_desired_size  = 2
node_min_size      = 1
node_max_size      = 3
